<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= form_with model: @post do |f| %>
    <%= f.text_field :body, placeholder: '今の気分は？' %>
    <%= f.submit %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
